<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" 
th:replace="normal/base::layout(~{::section})">
<head>


<title>Page Title</title>

    
</head>
<body>
 <section>
<div class="card max-3" >
<div class="card-body text-center">
<img  src=""  style=" box-shadow: 10px 10px 5px #cab3f7;  border:2px solid purple;   height:200px; width: 200px;" th:src="@{'/img/'+${user.imgUrl}}" alt="Profile Picture"  class="my_profile_picture"/>
<h2 class="text-center mt-5"> <span th:text = "${user.name}"></span> </h2>
<div class="container text-center">
  <div class="table-container">

<table class="table">

    <thead>
<tr>

    <th>#USERID</th>
    <th>MYC <span th:text="${user.id}"></span>  </th>
      

</tr>

</thead>


<tbody>

 <tr >
      <td >Name</td>
      <td data-label="Name"> <span th:text="${user.name}"></span> </td> 
 </tr>






 <tr >
      <td >Email</td>
      <td data-label="Email"> <span th:text="${user.email}"></span> </td> 
 </tr>
 
 <tr >
      <td >Role</td>
      <td data-label="Role"> <span th:text="${user.role}"></span> </td> 
 </tr>

<tr >
      <td >Account Active</td>
      <td data-label="Work"> <span th:text="${user.agreement}"></span> </td> 
 </tr>


<tr >
      <td >About</td>
      <td data-label="About"> <span th:text="${user.about}"></span> </td> 
 </tr>

</tbody>



    
</table>
</div>
</div>
</div>
</div>


  <script type="text/javascript">
  
     $(document).ready(() =>{
     $(".item").removeClass("active");
     $("#profile-link").addClass("active");

     });

  
  
  
  </script>
  
 </section>



</body>
</html>