<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" 
th:replace="base::layout(~{::section})">
<head>
<title>Page Title</title>
</head>
<body>
 <section class = "banner d-flex justify-content-center align-items-center">
 <div class="text-center">
<h2 class ="font-weigth-bold">Smart Contact Manager</h2>
 <p>Start Collecting your contacts in very smarter way.We provide
 very efficient and smarter way of handling contacts.</p>
 <button class ="btn bg-color btn-lg text-white">Get Start</button>
 </div>
 </section>



</body>
</html>